{{!-- Pre-sales brand header. Full-bleed band with logo, company name,
       document title, number and date. --}}
<header class="modern-header">
  <div class="modern-header__band"></div>
  <div class="modern-header__grid">
    <div class="modern-header__brand">
      {{#if logo}}
        <img src="{{logo}}" alt="{{company.name}}" class="modern-header__logo" />
      {{else}}
        <div class="modern-header__logo-fallback">{{#if company.shortName}}{{company.shortName}}{{else}}A{{/if}}</div>
      {{/if}}
      <div>
        <div class="modern-header__company">{{company.name}}</div>
        {{#if company.address}}<div class="modern-header__tagline">{{company.address}}</div>{{/if}}
      </div>
    </div>
    <div class="modern-header__meta">
      <h1 class="modern-header__title">{{title}}</h1>
      {{#if docNumber}}<div class="modern-header__line"><span>{{t "doc_number"}}:</span> {{docNumber}}</div>{{/if}}
      <div class="modern-header__line"><span>{{t "doc_date"}}:</span> {{date generatedAt "short"}}</div>
    </div>
  </div>
</header>
